<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.timesync">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeSync"
        tools:targetApi="31">
        
        <!-- Splash Screen - Main Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TimeSync.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
        </activity>
        
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
            
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
            
        <activity
            android:name=".ActivitiesActivity"
            android:exported="true">
        </activity>
        
        <activity
            android:name=".AddTaskActivity"
            android:exported="false" />
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        
        <activity
            android:name=".RunningSubjectsActivity"
            android:exported="false" />
            
        <activity
            android:name=".RewardsActivity"
            android:exported="false" />
        <activity
            android:name=".StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".GoalsActivity"
            android:exported="false" />
        <activity
            android:name=".AppStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
            
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
            
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
            
        <activity
            android:name=".VerifyCodeActivity"
            android:exported="false" />
            
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
            
        <activity
            android:name=".SetNewPasswordActivity"
            android:exported="false" />
            
        <activity
            android:name=".ContactUsActivity"
            android:theme="@style/Theme.TimeSync.NoActionBar"
            android:exported="false" />
            
        <activity
            android:name=".FAQActivity"
            android:theme="@style/Theme.TimeSync.NoActionBar"
            android:exported="false" />
            
        <activity
            android:name=".ReminderDialogActivity"
            android:theme="@style/Theme.Dialog"
            android:exported="false" />
            
        <activity
            android:name=".ProfileTest"
            android:exported="true">
        </activity>
        
        <!-- Receiver for handling scheduled reminders -->
        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="false" />
            
        <!-- Receiver for handling device boot to reschedule alarms -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>